/* Below is a link to the page I am trying to mimic:
 * http://www.theguardian.com/environment/ng-interactive/2015/apr/10/how-much-fossil-fuel-are-we-using-right-now*/ 

.mainQuote {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
}

.wholeQuote {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  color: #3f4245;
  background-color: #fff;
    padding: 0 20px;
}

.moreInfo {
	display: none;
}

.expanded .moreInfo { /*if it has class expanded and then there's something inside that div that has the class more Info, and apply display block*/ 
	display: block;
}

.readMore {
  color: red;
  font-size: 1em;
  margin: 1em;
}
