/* Below is a link to the page I am trying to mimic:
 * http://www.theguardian.com/environment/ng-interactive/2015/apr/10/how-much-fossil-fuel-are-we-using-right-now*/ 

.mainQuote {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
}

.wholeQuote {
  cfont-size: 1rem;
  line-height: 1.25rem;
  font-family: Georgia,serif;
  font-weight: normal;
  margin-bottom: 0.375rem;
  color: #767676;
}

.moreInfo {
	display: none;
}

.expanded .moreInfo {
	display: block;
}

.readMore {
 font-size: 1rem;
  line-height: 1.25rem;
  font-family: Georgia,serif;
  font-weight: normal;
  margin-bottom: 0.375rem;
  color: #767676;
 }
